.tq_div{
    min-height:35vh;
    background-color: #000080; /* For browsers that do not support gradients */
   background-image: linear-gradient(to top right, #fcf7ed , #fca607);
    padding-top: 10%;
    width: 75%;
    margin-top: 10%;
    margin-left: 12%;
    margin-right: 5%;
}
.tq_third{
    font-size: 2.3rem;
    margin-top: -8%;
    /* background-image: linear-gradient(to top right, #b91372  12%, #000080); */
    color: 003846;
  }
  
  .tq_fifth{
    margin-top: 10px;
    font-size: 1.2rem;
    padding-left:0rem;
    font-family: sans-serif;
    margin-top: 6%;
    color:#003846;
  }
  @media(max-width:767px){
    .tq_fifth{
      line-height: 3rem;
    }
    .tq_third{
      font-size: 2rem;
      margin-top: 20px;
      padding-top: 50px;
  }
    .tq_div{
      width: 100%;
      margin-top: 50%;
      padding-top: 0%;
      margin-left: 0%;  
      margin-right: 0%;
  
    }
  
  }
  @media(min-width: 170px){
    .tq_fifth{
    line-height: 0.1rem;
    }
  }
  @media(min-width: 168px){
    .tq_fifth{
    line-height: 2rem;
    }
  }